@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

main {
  background-color: #ECEBF3;
  width: 100%;
  min-height: 100vh;
}


.tarjetas-h {
  display: grid;
  grid-template-columns: 1fr;  
  gap: 1rem;
  padding: 1rem;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
}

.tarjeta-h {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ECEBF3;
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0px 7px 0px rgb(185, 184, 184);
  height: auto;  
}

.tarjeta-h h2 {
  font-size: clamp(1rem, 5vw, 1.5rem); 
  text-align: center;
  margin-bottom: 0.5rem;
}

.tarjeta-h img {
  width: 100%;
  max-width: 200px;  
  height: auto;
  object-fit: contain;
  margin-top: 0.5rem;
  border-radius: 10px;
}




@media (min-width: 768px) {
  .tarjetas-h {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }
}


@media (min-width: 1024px) {
  .tarjetas-h {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 3rem;
  }
}
