
.contenedor-asistencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #D9D9D9;
  min-height: 100vh;
}



.navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  background: white;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.navegacion button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.tabla-scroll {
  width: 100%;
  max-width: 800px;
  overflow-y: auto; 
  overflow-x: auto;
  max-height: 350px; 
  border-radius: 10px;
  -webkit-overflow-scrolling: touch; 
  background: white;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
}


.tabla-asistencia {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}

.tabla-asistencia th {
  background: #1c3144;
  color: white;
  padding: 0.8rem 1rem;
  text-align: center;
  font-size: 1rem;
}

.tabla-asistencia td {
  padding: 0.8rem 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.tabla-asistencia td:first-child {
  font-weight: bold;
  text-align: left;
  color: #2a2a2a;
}
.select{
  width: 100;
  height: 100px;
  background-color: black;
}



.celda-dia {
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.celda-dia:hover {
  background-color: #d3d3d3; 
}


@media (max-width: 768px) {
  .contenedor-asistencia {
    padding: 1rem;
  }

  .tabla-scroll {
    max-height: 300px; 
  }

  .tabla-asistencia th,
  .tabla-asistencia td {
    font-size: 0.85rem;
    padding: 0.6rem;
  }
}

.icono-asistencia,
.icono-pagado,
.icono-vale {
  width: 50px;    
  height: 28px;
  object-fit: contain;
  margin: 0 2px; 
}


.sin-scroll {
  max-height: none !important;
  overflow-y: visible !important;
}

.columna-fija {
  position: sticky;
  left: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.tabla-asistencia thead th.columna-fija {
  background-color: #1c3144;
}

.columna-activa {
  background-color: rgba(28, 49, 68, 0.15) !important;
  transition: background-color 0.2s ease;
}

.contenedor-iconos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}