@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


.navLink {
  color: white;
  text-decoration: none;
  font-family: "Crimson Text", serif;
  font-style: normal;
  transition: 0.1s ease-out;
  font-size: 30px;
  padding: 0.5rem;
  display: inline-block;
  margin-top: 0.5%;
}

.navLink:not(.activeLink) h2:hover {
    transform: scale(1.4);
}

.activeLink  {
  background-color: #ECEBF3;
  border-radius: 8px 8px 8px 8px;
}

.activeLink h2{
  color: black;
}

.activeLink h2:hover {
    transform: none;
}

