.informes-list {

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.informe-card {
  background-color: #C7D6D5 !important;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.233);
}
