@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&display=swap');

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.ventana-form {
  background-color: #d0cdcd;
  border-radius: 10px;
  padding: 20px 25px;
  width: 250px;
  font-family: "Instrument Sans", sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.ventana-form h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.ventana-form label {
  font-size: 14px;
  display: block;
  margin-top: 8px;
  color: #1f1f1f;
}

.ventana-form input {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  margin-top: 4px;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cancelar {
  background-color: #7a5550;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 600;
  cursor: pointer;
}

.confirmar {
  background-color: #497558;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 600;
  cursor: pointer;
}

.cancelar:hover {
  background-color: #5e3e39;
}

.confirmar:hover {
  background-color: #386346;
}
