*{
    padding: 0;
    margin: 0;
}

main{
    background-color: #ECEBF3;
    width: 100%;
    height: 100%;
}
.tarjetas-h{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    padding-top: 7rem;
    gap: 100px;
    width: 100%;
    height: 100vh;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 500px;


}
.tarjeta-h{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ECEBF3;
    border: 1px solid black;
    border-radius: 20px;
    height: 550px;
    margin-left: 30%;
    margin: 1rem;
    overflow: hidden;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.2);
    
}

.ImInventario{
    width:100%;
    height: 35%;
    border-radius: 20px;
    overflow: hidden;
    background-color:white;
    font-family: sans-serif;
}
.ImAsistencias{
    width:60%;
    height: 35%;
    border-radius: 20px;
    overflow: hidden;
    background-color:white;
    font-family: sans-serif;
}
.ImRegistro{
    width:60%;
    height: 35%;
    border-radius: 20px;
    overflow: hidden;
    background-color:white;
    font-family: sans-serif;
}

img{
    width: 299px;
    height: 299px;

}